torch
torchvision
timm
albumentations
opencv-python
ultralytics
pillow
numpy
scikit-learn
matplotlib
seaborn
onnx
onnx2tf
tensorflow
python-dotenv
langchain-huggingface
langchain-pinecone
langchain-community
langchain-groq
langchain-chroma
pinecone-client
duckduckgo-search
huggingface_hub
pypdf
bs4
transformers
sentence-transformers
langchain
faiss-cpu
fastapi
uvicorn
spaces